 
 <style>
   .alert {       
        text-align: center;
        padding: 10px;
        width: 100%;
        margin: auto 5px;
    }

    .ok {
        color: green
    }
    .bad {
        color: red;
    }
 </style>

{{#if success_msg}}
    <div class="alert ok">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert bad">{{error_msg}}</div>
{{/if}}