<style type="text/css">
        .card {
            width: 50%;
            display:flex;
            justify-content: center;
            flex-direction: column; 
            box-shadow: 0 4px 8px #999;
            box-sizing: content-box;
            border-radius: 5px;
            border: 1px solid #222;
        }

        .card label:first-child {
            margin-top: 30px;
        }
        
        form { margin: 0 auto; }
        
        input, textarea { 
            width: 95%; 
            margin: 0px auto 1rem; 
            max-width: cover; 
            padding: 8px; 
            font:1rem sans-serif;
        }

        label {
            font-weight:700;
            display: inline-block;
            padding-bottom: 5px;
            margin-left: 20px;
            font:1rem sans-serif;
        }
        
        button {
            background-color: white;
            cursor: pointer;
            border: 1px solid #222;
            width: 50%;
            margin: 0 auto 20px;
            padding: 0.5rem;
            border-radius: 5px;
        }

        button:hover {
            background-color: #222;
            cursor: pointer;
            border: 1px solid white;
            color: white; 
        }

        *, *:before, *:after { box-sizing: inherit; box-sizing: border-box; }

        .alert {
            
            text-align: center;
            color: red;
            padding: 10px;
            width: 100%;
            margin: auto 5px;
        }

</style>

{{#each erros}}
    <div class='alert'>{{texto}}</div>
{{else}}
{{/each}}


<form class="card" action='/quest/post/add' method="post">
    <label for="titulo">Titulo:</label>
    <input type="text" name="titulo" id="titulo" ></input>

    <label for="usuario">Usuario:</label>
    <input type="text" name="usuario" id="usuario"></input>

    <label for="data">Data:</label>
    <input type="date" name="data" id="usuario"></input>

    <label for="pergunta">Pergunta:</label>
    <textarea type="text" name="pergunta" id="pergunta"></textarea>
   
    <button type="submit">Enviar questionário</button>
</form>